{:deps
 {ring/ring-core          {:mvn/version "1.9.1"}
  ring/ring-jetty-adapter {:mvn/version "1.9.1"}
  metosin/reitit {:mvn/version "0.7.0-alpha7"}
  metosin/muuntaja {:mvn/version "0.6.8"}
  metosin/ring-http-response {:mvn/version "0.9.1"}}
 :aliases
 {:cljs
  {:extra-deps {thheller/shadow-cljs {:mvn/version "2.11.23"}
                reagent/reagent                 {:mvn/version "1.1.1"}
                re-frame/re-frame                {:mvn/version "1.4.2"}
                day8.re-frame/tracing   {:mvn/version "0.6.2"}
                day8.re-frame/http-fx   {:mvn/version "0.2.4"}
                day8.re-frame/re-frame-10x {:mvn/version "1.6.0"}
                re-frisk/re-frisk                {:mvn/version "1.6.0"}
                binaryage/devtools      {:mvn/version "1.0.6"}}}}
 :paths ["src" "test"]}